.card{
    display: inline-block;
    height:190px;
    width:190px;
    margin: 1em;
/* position: relative; */
}

.card > .div-content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
}
